public/projects/assurancesplus/*.mp4 filter=lfs diff=lfs merge=lfs -text
portfolio-front/public/projects/assurancesplus/*.mp4 filter=lfs diff=lfs merge=lfs -text
portfolio-front/public/projects/assurancesplus/mockup.mp4 filter=lfs diff=lfs merge=lfs -text
