body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*
partie header
*/

header {
    display: flex;
    justify-content: space-around;
    top: 0;
    background: #b9b9b962;
    font-family: sans-serif;
    z-index: 20;
}

#groupeDeBoutons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
}

#titre {
    display: flex;
}

.photoMoi {
    width: 20%;
}

.photoMoi > img {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.titrePortFolio {
    margin-left: 5%;
}


.photoMoiResponsive > img {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media screen and (min-width:430px) {
    .photoMoi {
        display: true;
    }
    .photoMoiResponsive {
        display: none;
    }
}

@media screen and (max-width:429px) {
    .photoMoi {
        display: none;
    }
    .photoMoiResponsive {
        display: true;
    }
}


.boutonsMenu {
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    background: transparent;
    text-decoration: none;
    color: white;
    background-color: #7BE18B;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    width: max-content;
    height: auto;
    font-size: 2vh;
    justify-content: center;
    margin: auto;
    transition: all 0.2s ease; 
    text-align: center;
}

#groupeDeBoutons > a {
    flex-wrap: wrap;
    margin-left: 1%;
    margin-right: 1%;
}

#groupeDeBoutons > a:nth-child(2) {
    border: #20c8df solid 1px;
}

.boutonsMenu:hover {
    padding: 2.1%;
    padding-left: 3.2%;
    padding-right: 3.2%;
    background-color:  #20c8df;
    transition: all 0.2s ease;
}


footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #5eb0c4c9;
    border:none;
    font-family: sans-serif;
    align-items: center;
}

.footerGauche > h3 {
    font-size: 4vh;
    margin: auto;
    
}

.footerDroite > p {
    font-size: 3.6vh;
    margin-bottom: 8%;
}


.boutonsMenu2 {
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    background: transparent;
    text-decoration: none;
    color: white;
    background-color: #7BE18B;
    padding: 10%;
    padding-left: 40%;
    padding-right: 40%;
    justify-content: center;
    margin: auto;
    transition: all 0.2s ease; 
    text-align: center;
    font-size: 3vh;
    margin-bottom: 20%;
    margin-top: 0;
}

.boutonsMenu2:hover {
    background-color:  #20c8df;
    transition: all 0.2s ease;
}
