body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}




/**Version portfolio 2.0**/

/*Présentation*/

#Presentation {
    display: flex;
    height: 50em;
    justify-content: space-evenly;
}



.textePres  * {
    margin: 0;
}

.prenom {
    margin-bottom: 20%;
}

.prenom > .salut {
    font-size : 1.3em;
}
 
.prenom > .monPrenom {
    font-size : 2.7em;
}

.prenom > .programmeur {
    font-size : 1.1em;
}

.textParleMoi {
    font-size : 1.4em;
}

#TextPresentationEtPhoto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#TextPresentationEtPhoto > .textePres {
    width: 30em;
    flex-shrink: 10;
    flex-grow: 0;
}

#TextPresentationEtPhoto > .photo {
    width: 30em;
    flex-shrink: 10;
    flex-grow: 0;
}


/** partie frise */

#vertical {
    display: none;
}

#friseChrono  {
    background-color: rgb(105, 209, 209);
    overflow-x: scroll;
}

#friseChrono img  {
    width: 110%;
}

.leDessus {
    display:flex;
    position: relative;

}

.leCliqueGpo {
    position: absolute;
    left: 11.5%;
    padding: 0;
    padding-left: 4.4%;
    padding-right: 4%;
    border: black solid;
    text-align: center;
    margin-left: 17%;
    border: solid green;
    margin-top: 1.9%;
    min-height: 5vh;
    width: 2.4%;
}

.leDessus > .leCliqueGpo > .contenu:first-child {
    margin-left: 5%;
}

.leDessus > .leCliqueGpo > p {
    border: rgb(92, 190, 54) solid;
}

.leDessous {
    display: flex;
}

.leDessous > .leTruc > .contenu:first-child {
    margin-left: 18%;
}



/*Entete des projets*/


#TitrePortfolioProjets {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 4%;
}

#TitrePortfolioProjets * {
    margin: 1.2%;
}

#TitrePortfolioProjets > h1 {
    font-size : 5em;
    color : #D9D9D9;
}

#TitrePortfolioProjets > h2 {
    margin-bottom: 0%;
    font-size : 3em;
}

#TitrePortfolioProjets > h3 {
    font-size : 2.5em;
}

/*Les projets*/

.caseProjet {
    width: 30em;
    flex-shrink: 10;
    flex-grow: 0;
    padding: 2%;

}

.imgSAE2 {
    margin-top: 2%;
}

.imgSAE2 > a > img {
    display: flex;
    max-width: 100%; /* les images seront limitées à la largeur de leur parent */
    margin: auto;
    border-radius: 10px;
    border: #444343 solid 3px;
}

.imgSAE2 > a > img:hover  {
    filter: brightness(50%);
    transition-delay: 0s;
    transition-duration: 0.4s;
    cursor: pointer;
}

#ArticlesProjets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#ArticlesProjets p, #ArticlesProjets h2 {
    max-width: 95%;
    text-align: center;
    margin: auto;
    margin-top: 6%;
}

@media screen and (max-width:1000px) {
    .photo > img{
        width: 70%;
        margin: 0;
    }
}

@media screen and (max-width:700px) {
    .photo > img{
        width: 50%;
        margin: 0;
    }

    #TitrePortfolioProjets > h1 {
        font-size : 5em;
        color : #D9D9D9;
    }
    
    #TitrePortfolioProjets > h2 {
        margin-bottom: 0%;
        font-size : 3em;
    }
    
    #TitrePortfolioProjets > h3 {
        font-size : 2.5em;
    }

    #friseChrono img {
        height: 20em;
        width: 85em;
    }
}

@media screen and (max-device-width:700px) {
    .caseProjet {
        width: 500px;
    }

    .imgTitreEtDescription {
        text-align: center;
    }

    .caseProjet {
        width: 55em;
        margin-bottom: 20%;
    }

    #TextPresentationEtPhoto {
        width: 100%;
        text-align: center;
    }

    .photo > img{
        width: 50%;
    }

    #friseChrono img {
        width: auto;
        height: 40em;
 
    }

}

/** site frise*/

/*lucid.app*/