body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/**partie moi*/

main {

    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1, 100%);
    grid-template-areas: 
    "quiSuis image"
    "quiSuis image";
    
    
}

.quiSuis {
    
    grid-area: quiSuis;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-bottom: 11vh;
    padding-top: 9vh;
}

.quiSuis > .quiSuisTexte {
    grid-area: quiSuisTexte;
    margin: auto;
}

.quiSuisTexte > h2{
    grid-area: h2;
    font-size: 3vh;
}
.quiSuisTexte > p{
    font-size: 2vh;
    margin: auto;
    text-align: center;
}

.photoMoiResponsive {
    width: 50vw;
}

.image {
    grid-area: image;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 212, 214);
}

.image img {
    width: 12vw;
    height: auto;
    padding: 2.5%;
}

.imageDroite, .imageGauche {
    width: 60%;
}
.imageDroite {
    display: flex;
    justify-content: end;
}

/** partie frise */

#vertical {
    display: none;
}

#friseChrono  {
    background-color: rgb(105, 209, 209);
    overflow-x: scroll;
}

#friseChrono > img  {
    width: 110%;
}

.leDessus {
    display:flex;
    position: relative;

}

.leCliqueGpo {
    position: absolute;
    left: 11.5%;
    padding: 0;
    padding-left: 4.4%;
    padding-right: 4%;
    border: black solid;
    text-align: center;
    margin-left: 17%;
    border: solid green;
    margin-top: 1.9%;
    min-height: 5vh;
    width: 2.4%;
}

.leDessus > .leCliqueGpo > .contenu:first-child {
    margin-left: 5%;
}

.leDessus > .leCliqueGpo > p {
    border: rgb(92, 190, 54) solid;
}

.leDessous {
    display: flex;
}

.leDessous > .leTruc > .contenu:first-child {
    margin-left: 18%;
}


/* partie projets*/
.titreMesProjets {
    position: relative;
    z-index: 1;
    padding: 3%;
    background: #444343;
    text-align: center;
}

.titreMesProjets h1 {
    width: auto;
    margin: auto;
    color: white;
    padding: 1%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 10px;
    font-size: 5vh;
    font-family: sans-serif;
}

.titreSAE > h2 {
    margin : 0;
    margin-top: 0.5% ;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 15%;
    background: rgb(136, 177, 165);
    font-size: 4vh;
}

#projetsArticle {
   height: auto;
   margin-bottom: 5%;
}

.ligne, .ligne2 {
    text-align: center;
    margin-bottom: 2%;
}

.ligne {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ligne > .coteDroit  {
    width: 50%;
}

.ligne > img {
    height: 30vh;
    width: auto;
}

.ligne2 {
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.ligne2 > .coteDroit  {
    width: 50%;
}

.imgSAE {
    margin-top: 2%;
}

.imgSAE > img {
    height: 30vh;
    width: auto;
}

.coteDroit {
    display: flex;
    flex-direction: column;
}

.coteDroit > a {
    display: flex;
    width: max-content;
    margin: auto;
    text-decoration: none;
    background-color: #7BE18B;
    padding: 2.5%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border-radius: 15px;
    color: white;
    transition: all 0.3s ease;
}


.coteDroit > a:hover {
    padding-left: 3.1%;
    padding-right: 3.1%;
    background-color:  #20c8df;
    transition: all 0.3s ease;
}

@media screen and (max-width: 480px)  {
    .titreMesProjets h1 {
        font-size: 2.5vh;
    }

}

@media screen and (max-width:700px) {
    .photoMoi {
        display: none;
        width: 40vw;
    }
}
@media screen and (min-width:700px) {
    .photoMoi {
        display: block;
    }
    .photoMoiResponsive {
        display: none;
    }


}

@media screen and (max-width:700px) {
    main {
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(1, 100%);
        grid-template-areas: 
        "quiSuis quiSuis"
        "image image";  
        height: auto;
    }

    .image img {
        width: 45vw;
    }

    .quiSuis {
        height: max-content;
        padding: 0;
        padding-top: 5%;
        padding-bottom: 5%;

    }

    .photoMoiResponsive {
        display:flex !important;
    }

    .photoMoiResponsive > img {
        width: 50%;
        height: auto;

    }

    #horizontal {
        display: none;
    }

    #vertical {
        display: block;
        height: 40vh;
    }

    #friseChrono {
        width: 130%;
    }

    main {
        display: block;
    }
    .ligne, .ligne2 {
        display: flex;
        flex-direction: column;
    }
    .ligne > .coteDroit, .ligne2 > .coteDroit  {
        width: 90%;
    }
}


@media screen and (max-device-width:700px) {
    .imgSAE > img {
        height: auto;
        width: 50vw !important;
    }

    .photoMoi {
        display: none;
    }

    .photoMoiResponsive {
        display: block !important;
    }

    .ligne, .ligne2 {
        display: flex;
        flex-direction: column;
    }

    .quiSuis {
        height: max-content;
        padding: 0;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .quiSuis > h2 {
        font-size: 6vh;
    }

    .titreSAE > h2 {
        font-size: 5vw;
        text-align: center;
        margin: auto;
        padding-left: 0;
    }

    .ligne > .coteDroit, .ligne2 > .coteDroit  {
        width: 90%;
    }
    
    main {
        display: block;
    }

    .image img {
        width: 45vw;
    }

    #horizontal {
        display: none;
    }
    
    #vertical{
        display: block !important;
    }

    .coteDroit {
        font-size: 3.4vw;
    } 

    #friseChrono > img {
        height: 30vh;
        width: 230%;
    }
}


/** site frise*/

/*lucid.app*/






